<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clonehackers</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/styles.css">
</head>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top ">
            <div class="offset-2 navbarbrandcontainer">
                <h1 class="navbar-brand text-dark" style="font-weight: bolder;font-size:1.7em;"><img src="../assets/photos/undraw_drone_surveillance_kjjg.svg" style="width:70px;">Clonehackers</h1>
            </div>
            <div>
                <ul class="navbar-nav " id="btncontainer" style="margin-left:350px;">
                    <li class="nav-item mr-2 ">
                        <button class="btn btn-sm pr-5 pl-5" style="background-color: white;font-weight:bolder;color:#6C63FF;border:2px solid #6C63FF;"><a href="./demo/index.html">VIEW DEMO</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-sm pr-5 pl-5" style="background-color: #6C63FF;font-weight:bolder;color:white;border:2px solid #6C63FF;"><a href="./buyNow.html" class="text-white">TRY NOW</a></button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main id="fmainbuynow" style="margin-top:85px;">
        <div id="mainBuyNow" class="pt-5">
            <center>
                <h1 class="text-white mb-3" style="font-weight:300;">Clonehackers <b>PRIVACY POLICY</b></h1>
            </center>
        </div>
    </main>
    <section class="container text-muted mt-5">
        <p><small>This Privacy Policy applies to the operations of https://Clonehackers.com, and the company is here referred to as "Our Website". The company's collection of user data and the process involved is explained in this privacy policy.</small></p>

        <h3><b class="mb-5 mt-5">Our Use of the Personal Information You Provide</b></h3>
        <p><small>Our users can access our website without a requirement to provide personal data. However, when you buy our software, after installing same on your personal devices, you will be prompted to enter in user details. Billing method and mode of payment,
            which you select, provides us with data like your names, location address, email address as well as credit card or other payment credentials. Your mode of payment provides details to the payment processor which is not available to us.</small></p>

        <p><small>Our welcome email is sent to you after your payment is processed and proof is received by us. Our first message to you conveys your login verification and password needed to access our website. Whenever you make any request or inquiries, we are
            able to reply your queries through your email address or preferred contact method.</small></p>

        <p><small>It is important that you take note that any information required from you at anytime is needed to enhance your user experience on our website. Failure to provide the required details may limit your user experience.</small></p>

        <p><small>While we endeavor to safeguard your personal data as provided to us on your own accord, it is also vital to let you know that we do not share these details with third parties except you so authorize. When you provide your data on our website,
            they are password provided, and this requires that you safeguard your password from unauthorized access.</small></p>

        <p><small>You are advised to make sure that whenever you access our website from shared computers that you take steps to ensure that you sign out after such times. This step is necessary to avoid any unauthorized access of your personal data. The management
            of the login and password to our website is your personal responsibility.</small></p>

        <p><small>Opt-in commercial publicity from third parties requires that we communicate same to you via emails. If you do not want to receive such, you are free to opt-out at any time. Each email message from us in this regard, includes a opt-out footnote
            that incorporates a link to click or a box to check to let us know that you do not want any more commercial notifications.</small></p>

        <h3><b class="mt-5 mb-5">Control of other Information</b></h3>
        <p><small>Any demographic data obtained from you such as age, sex, level of highest education, household income or family size, does not get exposed to third parties with a view to identify you specifically. These data are shared anonymously with third
            party apps or agencies as the case may be.</small></p>

        <p><small>When you use a linked website by clicking on the hyperlink from our website, our responsibility to you ends as you exit our website. You are encouraged to go through the privacy policy of such website as you are bound by their extant policies.</small></p>

        <p><small>All data that you provide when you use our website are encrypted by means of network scanning, software updates and other hardware precautions that are generally accepted in the industry.</small></p>

        <p><small>Our use of security tools provided by third parties is to ensure that your personal data remains confidential. When your data is stored on our website, we employ the use of firewalls to limit access and confine such to authorized personnel. Your
            stored data is encrypted and saved to our disk servers, and these data gets decrypted when shown to you as you access our website.</small></p>

        <h3><b class="mt-5 mb-5">Legal Disclosure</b></h3>
        <p><small>Clonehackers may share your personal data with security agencies based on the enforcement of a lawful court order or in the event of litigation. This might also arise if there is a case of fraud, breach of contracts, or to protect the rights and privileges
            of employees or customers.</small></p>

        <p><small>Your personal data might also become available to a third party when our business is transferred to another by reason of a merger, sale or agreement of business combination.</small></p>

        <p><small>You have the right to delete or modify your personal data on our website or request same by accessing your login details or making a request to us. Whenever there is a policy change and an update is so published, you are also free to reject
                    such and stop your further use of our services subject to provided instructions.</small></p>

        <h3><b class="mt-5 mb-5">Users' Legal Age</b></h3>
        <p><small>All users of our website are legally required to be 18 years old at the least. By signing up to our services or accessing our website, you imply that you are at least 18 years old. Our services are not extended to children or minors, and if you
            sign up to our services, you have a responsibility to prevent minors in your household from accessing our website.</small></p>

        <p><small>You should provide us with the permission to collect your child's personal information if you use parental control software. If you use our website alongside parental control software, make sure you let us know so that we can let you know how
            children under 13 years of age have their data processed. Such data about underage children are not disclosed to anyone.</small></p>

        <h3><b class="mt-5 mb-5">International Law</b></h3>
        <p><small>Our privacy policies are covered by common law. This is applicable under international law to every sovereign nation on the earth.</small></p>


    </section>
    <footer>
        <div class="container">
            <p class="mb-4"><small class="text-muted">Features, specifications, and appearance subject to change without notice.</small></p>
            <p><small class="text-muted">
                   <a href="">About Clonehackers</a> |  <a href="">Term's and Condition</a> | <a href="">Privacy</a> | <a href="">Cookies Policy</a> |
            </small>
            </p>
            <p class="mb-4"><small class="text-muted">Copyright © 2019 Clonehackers.com. All trademarks are the property of their respective owners.</small></p>

        </div>
        <div class="container-fluid fixed-bottom tbtn">
            <div class="btn-group mr-2">
                <button class="btn btn-sm pr-4 pl-5" style="background-color: #6C63FF;font-weight:bolder;color:white;border:2px solid #6C63FF;">TRY NOW</button>
                <button class="btn btn-sm pr-4 pl-4" style="font-weight:bolder;color:#6C63FF;"><a href="./views/">VIEW DEMO<i class="fa fa-arrow-right ml-1"></i></a></button>
                <button class="btn btn-sm btn-dark pr-2 pl-2">To Top</button>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "></script>

</html>